<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--   add fontawesome-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!--add jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- jQuery UI CSS CDN -->
    <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'
          rel='stylesheet'>
    <!-- jQuery UI JS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
    </script>
    <!--font google-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap">
    <!--    css     -->
    <link rel="stylesheet" th:href="@{/css/trangchu/header-chung.css}">
    <link rel="stylesheet" th:href="@{/css/trangchu/home.css}">
    <link rel="stylesheet" th:href="@{/css/trangchu/page-ten-dai.css}">
    <link rel="stylesheet" th:href="@{/css/trangchu/do-ve-so.css}">


    <title>Xổ Số Vịt Ù</title>
</head>
<body>
<!--header chung -->
<div class="container__header">
    <ul class="container__header__ul">
        <li >

            <a id="icon_home" style="display:none" href="#"><i class="fas fa-bars"></i></a>
        </li>
        <li class="home_chu">
            <a th:href="@{/us/trang-chu}">Trang Chủ</a>
        </li>
        <li class="home_chu">
            <a th:href="@{/us/trang-chu/khuvuc(mien='Miền Nam')}">XSMN</a>
        </li>
        <li class="home_chu">
            <a th:href="@{/us/trang-chu/khuvuc(mien='Miền Trung')}">XSMT</a>
        </li>
        <li class="home_chu">
            <a th:href="@{/us/do-ve-so}">Dò Vé Số</a>
        </li>
        <li sec:authorize="hasRole('USER') or hasRole('ADMIN')" class="home_chu">
            <a th:href="@{/us/lich-su-do}">Lịch Sử Dò</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')" class="home_chu">
            <a th:href="@{/ad/showUser}">Trang quản lý</a>
        </li>
        <!-- user chua xac thuc thì hiện login-->
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/dang-nhap}" >Login</a>
        </li>

        <!--user đã xác thực thì hiện logout-->
        <li sec:authorize="isAuthenticated()">
            <form action="#" th:action="@{/logout}" method="post">
                <span>Chào</span>
                <span sec:authentication="principal.username" id="span__username"></span>
                <input type="submit" value="thoát">
            </form>
        </li>

    </ul>



</div>
<div class="mobile" >

</div>

<!-- phan slide bar mobile -->
<ul class="header__mobile">
    <i class="fas fa-times icon-close"></i>
    <li >
        <a th:href="@{/us/trang-chu}">Trang Chủ</a>
    </li>
    <li >
        <a th:href="@{/us/trang-chu/khuvuc(mien='Miền Nam')}">XSMN</a>
    </li>
    <li >
        <a th:href="@{/us/trang-chu/khuvuc(mien='Miền Trung')}">XSMT</a>
    </li>
    <li>
        <a th:href="@{/us/do-ve-so}">Dò Vé Số</a>
    </li>
    <li sec:authorize="hasRole('USER') or hasRole('ADMIN')">
        <a th:href="@{/us/lich-su-do}">Lịch Sử Dò</a>
    </li>
    <li sec:authorize="hasRole('ADMIN')" >
        <a th:href="@{/ad/showUser}">Trang quản lý</a>
    </li>
</ul>

<!-- form an de gui du lieu len server khi chon nut select-->
<form id="formSelect" action="#" th:action="@{/us/chon-dai}" method="get" style="display:none">
    <input type="text" name ="tenDai" value="" id="tenDai">
    <input type="text" name="date" value="" id="date-xs">
    <input type="submit" value="Luan gia">
</form>
<!-- input giu gia tri nut select sau khi tim kiem bang khu vuc , hay ten dai va cho hien thi lai tren nut select -->
<input type="hidden" th:value="${tenDai}" id="inputHoldDateSelect">
<!-- input giu gia tri ngay xo so-->
<input type="hidden" th:value="${dateXs}" id="inputHoldDateXs">
<div class="container__content">

    <!-- slide left-->

    <div class="container__content__slideLeft" th:if="${#lists.size(khuVucList) > 0}" >
        <div  class="content__slideLeft__mien" th:each="aria : ${khuVucList}">
            <h6><a th:href="@{/us/trang-chu/khuvuc(mien=${aria})}" th:text="${'Xổ Số ' + aria}"/></h6>
            <ul>
                <li th:each="theDai : ${daiXoSoList}" th:if="${theDai.aria == aria}" >
                    <a th:href="@{/us/trang-chu/dai(daiVeSo=${theDai.nameLottery})}" th:text="${'Xổ Số '+ theDai.nameLottery}"/>
                </li>
            </ul>
        </div>
    </div>

    <!-- main content -->
    <div class="container__content__main">
        <div class="content__main__filter">
            <select id="select__pick--Dai" >
                <option value="1">Chọn đài</option>
                <option th:if="${#lists.size(khuVucList) >0}" th:each="aria:${khuVucList}"
                        th:text="${aria}" th:value="${aria}"/>

                <option th:if="${#lists.size(daiXoSoList) >0}" th:each="theDai:${daiXoSoList}"
                        th:text="${theDai.nameLottery}" th:value="${theDai.nameLottery}"/>
            </select>
            <input id="input__datePicker" type="text" placeholder="dd/mm/yyyy" readonly >
            <i class="far fa-calendar-alt" id="icon__calender"></i>
        </div>

        <!-- div chua form do ve so va hien thi du lieu ket qua ve so do -->
        <div id="container-do-ve">
            <form action="#" th:action="@{/us/do-ket-qua}" method="get" class="form-doSo">
                <div class="dove-input">
                    <span>Nhập dãy số</span>
                    <input type="number" name="boSo" th:value="${boSo}" placeholder="ví dụ 123456" class="boSo--doSo">
                </div>
                <div class="dove-input">
                    <span>Ngày Xổ Số</span>
                    <input type="date" name="date" th:value="${date}" class="date__doSo">
                </div>
                <!--input an giu gia tri username nguoi dung da dang nhap -->
                <input type="hidden" name="userName" sec:authorize="isAnonymous()" value="chua">
                <input type="hidden" name="userName" sec:authorize="isAuthenticated()" th:value="${#authentication.principal.username}">
                <div class="dove-input">
                    <span>Tỉnh, Thành Phố</span>
                    <select name="tinhThanh" id="tinhThanh_doSo">
                        <option th:if="${#lists.size(daiXoSoList) >0}" th:each="theDai:${daiXoSoList}"
                                th:text="${theDai.nameLottery}" th:value="${theDai.nameLottery}"/>
                    </select>
                </div>
                <button class="btn btn-danger" type="submit">Dò Kết Quả</button>
            </form>
        </div>
        <!-- input an giu gia tri tinh thanh cho form-->
        <input type="hidden" th:value="${tinhThanh}" id="input_tinhThanh">
        <!-- hien thi noi dung thong tin ve so da do -->
        <div class="container__content__search" th:if="${tinhThanh != null}">
            <h6>Nội dung tìm kiếm</h6>
            <div class="show-content-search" >
                <p>Bạn đã dò Kết quả xổ số <span th:text = "${tinhThanh}" class="text-primary"/></p>
                <p>Loại vé 6 chữ số, mở thưởng ngày <span th:text="${date}" class="text-info"/></p>
                <p>Dãy số của bạn là: <span th:text="${boSo}" class="text-danger"/> </p>
            </div>
        </div>
        <!-- hien thi noi dung thong tin kết quả dò số-->
        <div class="container__content__search" th:if="${tinhThanh != null}">
            <h6>Kết quả tìm kiếm</h6>
            <div class="show-content-search" th:if="${messResult == 'khong co gia tri'}">
                <p>Rất tiếc vé số của bạn Không trúng giải</p>
                <p>Chúc bạn may mắn lần sau !!! </p>
            </div>
            <div class="show-content-search" th:if="${messResult == 'khong mo thuong'}">
                <p>Đài <span th:text="${tinhThanh}" class="text-primary"></span> không mở thưởng vào ngày <span th:text="${date}" class="text-info"></span></p>
                <p>Bạn vui lòng chọn ngày khác !!!</p>
            </div>

            <!--hien thi tin nhan va tien thuong trung so-->
            <div class="show-content-search" th:if="${messResult != 'khong co gia tri' and messResult != 'khong mo thuong'}">
                <p>Chúc mùng bạn đã trúng <span th:text="${messResult}" class="text-danger"/></p>
                <p class="text-danger" style="font-weight:bold" th:if="${lsDs != null}" th:text="'Chúc mừng bạn trúng ' + ${lsDs.tienThuong.tienThuong}"/>
                <p class="text-danger" style="font-weight:bold" th:if="${tienThuong != null}" th:text="'Chúc mừng bạn trúng ' + ${tienThuong.tienThuong}"/>
            </div>

        </div>

        <!-- hien thi ket qua xo lan load trang dau tien -->
        <!-- check theo list khu vực có dữ liệu -->

        <div class="content__main__table" th:if="${#lists.size(listKqXsByNameDai) > 0}"
             th:each ="kqXs : ${listKqXsByNameDai}" style="margin-top:1rem">
            <div  class="content__main__table__show">
                <!-- hien thi table co day du ket qua -->
                <table class="table table-bordered table__main" >
                    <!--div hien thi header content table kqXs-->
                    <div class="header__table" th:text ="'Kết Quả Xổ Số ' + ${kqXs.daiXoSo.nameLottery} +' '+${kqXs.dateLottery}"/>

                    <!--phan hien thi noi dung bang -->
                    <tbody>
                    <tr>
                        <th scope="row">Đặc biệt</th>
                        <td colspan="6" class="text-danger gdb" th:text = ${kqXs.db}/>
                    </tr>
                    <tr>
                        <th scope="row">Giải nhất</th>
                        <td class="g1" colspan="4" th:text="${kqXs.g1}" />
                    </tr>
                    <tr>
                        <th scope="row">Giải nhì</th>
                        <td class="g2" colspan="4" th:text="${kqXs.g2}"/>

                    </tr>
                    <tr>
                        <th scope="row">Giải ba</th>
                        <td class="g31" colspan="2" th:text="${kqXs.g31}"/>
                        <td class="g32" colspan="2" th:text="${kqXs.g32}"/>
                    </tr>
                    <tr >
                        <th rowspan="2" scope="row">Giải bốn</th>
                            <td  class="g41" th:text="${kqXs.g41}"/>
                            <td  class="g42" th:text="${kqXs.g42}"/>
                            <td  class="g43" th:text="${kqXs.g43}"/>
                            <td  class="g44" th:text="${kqXs.g44}"/>
                    </tr>
                    <tr>
                        <td colspan="4" class="tdShow3">
                            <div  class="tdG4">
                                <span   th:text="${kqXs.g45}"/>
                                <span  class="g46" th:text="${kqXs.g46}"/>
                                <span  class="g47" th:text="${kqXs.g47}"/>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <th scope="row">Giải năm</th>
                        <td class="g5" colspan="4" th:text="${kqXs.g5}"/>

                    </tr>
                    <tr>
                        <th scope="row">Giải sáu</th>
                        <td colspan="4" class="tdShow3">
                            <div  class="tdG6">
                                <span  class="g61" th:text="${kqXs.g61}"/>
                                <span  class="g62" th:text="${kqXs.g62}"/>
                                <span  class="g61" th:text="${kqXs.g63}"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Giải bảy</th>
                        <td class="g7" colspan="4" th:text="${kqXs.g7}"/>

                    </tr>
                    <tr>
                        <th  scope="row">Giải tám</th>
                        <td class="text-danger g8" colspan="4" th:text="${kqXs.g8}"/>

                    </tr>
                    </tbody>
                </table>
                <!--phan hien thi cac nut radio-->
                <div class="radio__option ">
                    <div class="container__radio" >
                        <input class="input__checkBox" type="radio" th:name="${kqXs.daiXoSo.aria + kqXs.dateLottery}" th:id="${kqXs.daiXoSo.aria + kqXs.dateLottery}+' day du'" checked value ="full">
                        <label th:for="${kqXs.daiXoSo.aria + kqXs.dateLottery} +' day du'" >Đầy Đủ</label>

                        <input class="input__checkBox" type="radio" th:name="${kqXs.daiXoSo.aria + kqXs.dateLottery}" th:id="${kqXs.daiXoSo.aria + kqXs.dateLottery}+' 2so'" value ="2 so">
                        <label th:for="${kqXs.daiXoSo.aria + kqXs.dateLottery}+' 2so'">2 số</label>

                        <input class="input__checkBox" type="radio" th:name="${kqXs.daiXoSo.aria + kqXs.dateLottery}" th:id="${kqXs.daiXoSo.aria + kqXs.dateLottery}+' 3so'" value ="3 so">
                        <label th:for="${kqXs.daiXoSo.aria + kqXs.dateLottery}+' 3so'">3 số</label>
                    </div>
                </div>

                <!-- phần hiển thị lô tô -->
                <div class="container__loto">

                    <div class="header__loto loto" >
                        <span th:text ="${kqXs.daiXoSo.nameLottery}" style="background-color:white"/>
                    </div>
                    <!--phan header lo to -->
                    <div class="header__table" th:text="'Lô Tô '+${kqXs.daiXoSo.nameLottery} +' '+${kqXs.dateLottery}"/>

                    <!-- phan hien thi cac so lo to-->
                    <div class="kqLoTo" >
                        <span class="giai__loto" th:text ="${kqXs.g8}" />
                        <span class="giai__loto" th:text="${#strings.substring(kqXs.g7,1,3)}"/>
                        <span class="giai__loto" th:text="${#strings.substring(kqXs.g61,2,4)}"/>
                        <span class="giai__loto" th:text="${#strings.substring(kqXs.g62,2,4)}"/>
                        <span class="giai__loto" th:text="${#strings.substring(kqXs.g63,2,4)}"/>
                        <span class="giai__loto" th:text="${#strings.substring(kqXs.g5,2,4)}"/>
                        <span class="giai__loto" th:text="${#strings.substring(kqXs.g41,3,5)}"/>
                        <span class="giai__loto" th:text="${#strings.substring(kqXs.g42,3,5)}"/>
                        <span class="giai__loto" th:text="${#strings.substring(kqXs.g43,3,5)}"/>
                    </div>
                    <div class="kqLoTo">
                        <span class="giai__loto" th:text="${#strings.substring(kqXs.g44,3,5)}"/>
                        <span class="giai__loto" th:text="${#strings.substring(kqXs.g45,3,5)}"/>
                        <span class="giai__loto" th:text="${#strings.substring(kqXs.g46,3,5)}"/>
                        <span class="giai__loto" th:text="${#strings.substring(kqXs.g47,3,5)}"/>
                        <span class="giai__loto" th:text="${#strings.substring(kqXs.g31,3,5)}"/>
                        <span class="giai__loto" th:text="${#strings.substring(kqXs.g32,3,5)}"/>
                        <span class="giai__loto" th:text="${#strings.substring(kqXs.g2,3,5)}"/>
                        <span class="giai__loto" th:text="${#strings.substring(kqXs.g1,3,5)}"/>
                        <span class="giai__loto text-danger" th:text="${#strings.substring(kqXs.db,4,6)}"/>
                    </div>
                    <!-- bang table chua noi dung loto-->
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th scope="col" style="background-color:#6f7677;color:white">Đầu</th>
                            <th scope="col" style="background-color:#6f7677;color:white">Lô Tô</th>
                            <th scope="col" style="background-color:#6f7677;color:white">Đuôi</th>
                            <th scope="col" style="background-color:#6f7677;color:white">Lô Tô</th>
                        </tr>
                        </thead>
                        <!-- the tbody se chua noi dung the sau khi load trang bang js -->
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- slide right -->
    <div class="slide__right">
        <div class="container__content__slideRight">
            <!-- div container chua ui date picker-->
            <div id="datePicker-container">
                <h6>Xổ Số Theo Ngày</h6>
            </div>

        </div>
        <div class="container__content__slideRight" style="margin-top:0.5rem">
            <!-- form chua thong tin do ve so-->
            <div id="doVe">
                <h6>Dò Kết Quả</h6>
                <form action="#" th:action="@{/us/do-ket-qua}" method="get" class="form-doSo">
                    <div class="content--form">
                        <span>Bộ số </span>
                        <input type="number" name="boSo"  placeholder=" nhập 6 số (*)" class="boSo--doSo">
                    </div>
                    <div class="content--form">
                        <span>Ngày </span>
                        <input type="date"  name="date"   class="date__doSo">
                    </div>

                    <div class="content--form">
                        <span>Tỉnh ,tp </span>
                        <select name="tinhThanh" id="tinhThanh__doSo" >
                            <option th:if="${#lists.size(daiXoSoList) >0}" th:each="theDai:${daiXoSoList}"
                                    th:text="${theDai.nameLottery}" th:value="${theDai.nameLottery}"/>
                        </select>
                    </div>
                    <div class="content--form--button">
                        <button class="btn btn-danger" type="submit" id="btn__doSo">Dò kết quả</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>
<!-- phan footer -->
<div class="container__footer">
    <div>Xổ Số Vịt Ù</div>
    <div>0985913723</div>
</div>
<!-- show datepicker-->
<script th:src="@{/js/trangchu/date-picker.js}"></script>
<!-- js show dau duoi lo to-->
<script th:src="@{/js/trangchu/show-lo-to-dau-duoi-page-ten-dai.js}"></script>
<!--js xu ly checkbox chuc nang day du,2 so ,3 so-->
<script th:src="@{/js/trangchu/daydu-2so-3so.js}"></script>
<!-- js xu ly hien thi ngay -->
<script th:src="@{/js/trangchu/format-day-month-year.js}"></script>
<!-- js xu ly search ten dai va ngay trong the select -->
<script th:src = "@{/js/trangchu/search-by-ten-dai-and-date.js}"></script>
<!-- js xử lý validation form dò số -->
<script th:src="@{/js/trangchu/validation-form-do-so.js}"></script>
<!-- js xử lý ẩn slide bar mobile -->
<script th:src="@{/js/trangchu/mobile-slide-bar.js}"></script>
</body>
</html>