<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--   add fontawesome-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!--add jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- jQuery UI CSS CDN -->
    <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'
          rel='stylesheet'>
    <!-- jQuery UI JS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
    </script>
    <!--font google-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap">
    <!--    css     -->
    <link rel="stylesheet" th:href="@{/css/trangchu/header-chung.css}">
    <link rel="stylesheet" th:href="@{/css/trangchu/home.css}">
    <link rel="stylesheet" th:href="@{/css/trangchu/page-ten-dai.css}">
    <link rel="stylesheet" th:href="@{/css/trangchu/do-ve-so.css}">


    <title>Lich su do so</title>
    <style>
        tr td{
            font-weight:normal;
            font-size:1rem;
        }
        th{
        font-size:1rem;
        }
    </style>
</head>
<body>
<!--header chung -->
<div class="container__header">
    <ul class="container__header__ul">
        <li >

            <a id="icon_home" style="display:none" href="#"><i class="fas fa-bars"></i></a>
        </li>
        <li class="home_chu">
            <a th:href="@{/us/trang-chu}">Trang Chủ</a>
        </li>
        <li class="home_chu">
            <a th:href="@{/us/trang-chu/khuvuc(mien='Miền Nam')}">XSMN</a>
        </li>
        <li class="home_chu">
            <a th:href="@{/us/trang-chu/khuvuc(mien='Miền Trung')}">XSMT</a>
        </li>
        <li class="home_chu">
            <a th:href="@{/us/do-ve-so}">Dò Vé Số</a>
        </li>
        <li sec:authorize="hasRole('USER') or hasRole('ADMIN')" class="home_chu">
            <a th:href="@{/us/lich-su-do}">Lịch Sử Dò</a>
        </li>
        <li sec:authorize="hasRole('ADMIN')" class="home_chu">
            <a th:href="@{/ad/showUser}">Trang quản lý</a>
        </li>
        <!-- user chua xac thuc thì hiện login-->
        <li sec:authorize="isAnonymous()">
            <a th:href="@{/dang-nhap}" >Login</a>
        </li>

        <!--user đã xác thực thì hiện logout-->
        <li sec:authorize="isAuthenticated()">
            <form action="#" th:action="@{/logout}" method="post">
                <span>Chào</span>
                <span sec:authentication="principal.username" id="span__username"></span>
                <input type="submit" value="thoát">
            </form>
        </li>

    </ul>



</div>
<div class="mobile" >

</div>

<!-- phan slide bar mobile -->
<ul class="header__mobile">
    <i class="fas fa-times icon-close"></i>
    <li >
        <a th:href="@{/us/trang-chu}">Trang Chủ</a>
    </li>
    <li >
        <a th:href="@{/us/trang-chu/khuvuc(mien='Miền Nam')}">XSMN</a>
    </li>
    <li >
        <a th:href="@{/us/trang-chu/khuvuc(mien='Miền Trung')}">XSMT</a>
    </li>
    <li>
        <a th:href="@{/us/do-ve-so}">Dò Vé Số</a>
    </li>
    <li sec:authorize="hasRole('USER') or hasRole('ADMIN')">
        <a th:href="@{/us/lich-su-do}">Lịch Sử Dò</a>
    </li>
    <li sec:authorize="hasRole('ADMIN')" >
        <a th:href="@{/ad/showUser}">Trang quản lý</a>
    </li>
</ul>

<!-- form an de gui du lieu len server khi chon nut select-->
<form id="formSelect" action="#" th:action="@{/us/chon-dai}" method="get" style="display:none">
    <input type="text" name ="tenDai" value="" id="tenDai">
    <input type="text" name="date" value="" id="date-xs">
    <input type="submit" value="Luan gia">
</form>

<div class="container__content">
    <!-- slide left-->

    <div class="container__content__slideLeft" th:if="${#lists.size(khuVucList) > 0}" >
        <div  class="content__slideLeft__mien" th:each="aria : ${khuVucList}">
            <h6><a th:href="@{/us/trang-chu/khuvuc(mien=${aria})}" th:text="${'Xổ Số ' + aria}"/></h6>
            <ul>
                <li th:each="theDai : ${daiXoSoList}" th:if="${theDai.aria == aria}" >
                    <a th:href="@{/us/trang-chu/dai(daiVeSo=${theDai.nameLottery})}" th:text="${'Xổ Số '+ theDai.nameLottery}"/>
                </li>
            </ul>
        </div>
    </div>

    <!-- main content -->
    <div class="container__content__main">
        <div class="content__main__filter">
            <select id="select__pick--Dai" >
                <option value="1">Chọn đài</option>
                <option th:if="${#lists.size(khuVucList) >0}" th:each="aria:${khuVucList}"
                        th:text="${aria}" th:value="${aria}"/>

                <option th:if="${#lists.size(daiXoSoList) >0}" th:each="theDai:${daiXoSoList}"
                        th:text="${theDai.nameLottery}" th:value="${theDai.nameLottery}"/>
            </select>
            <input id="input__datePicker" type="text" placeholder="dd/mm/yyyy" readonly >
            <i class="far fa-calendar-alt" id="icon__calender"></i>
        </div>
        <!-- hiện thông điệp chào mừng khi đã đăng nhập thành công -->
        <div sec:authorize = "isAuthenticated()">
            <h5 style="padding:0.5rem; margin-bottom:0">Chào bạn <span style="color:blue" sec:authentication="principal.username"/></h5>
            <p style="padding:0 0.5rem 0.5rem 0.5rem; margin-bottom:0">Đây là 10 kết quả lịch sử dò số của bạn gần nhất nếu có </p>
        </div>

        <!-- hiện kết quả dò vé số tối đa 10 kết quả gần nhất -->
        <div class="table-responsive" th:if="${#lists.size(lichSuDoSoList)>0}">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Stt</th>
                    <th scope="col">Đài </th>
                    <th scope="col" style="width:100px">Ngày Xổ số</th>
                    <th scope="col" style="width:100px">Ngày Dò</th>
                    <th scope="col">Giờ dò</th>
                    <th scope="col">Số dò</th>
                    <th scope="col">Kết quả</th>
                    <th scope="col">Tiền thưởng</th>
                    <th scope="col">Tiện ích</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lsDs,stt:${lichSuDoSoList}">
                    <td th:text="${stt.count}"/>
                    <td style="color:darkred" th:text="${lsDs.ketQuaXoSo.daiXoSo.nameLottery}"/>
                    <td style="color:green" th:text="${lsDs.ketQuaXoSo.dateLottery}"/>
                    <td th:text="${lsDs.ngayDo}"/>
                    <td th:text="${lsDs.hourDoSo}"/>
                    <td style="color:blue" th:text="${lsDs.soDo}"/>
                    <td th:text="${lsDs.messKq}"/>
                    <td th:if="${lsDs.tienThuong !=null}"th:text="${lsDs.tienThuong.tienThuong}"/>
                    <td th:if="${lsDs.tienThuong ==null}"th:text="0đ"/>
                    <td>

                            <!--  Add tag a for button delete  -->
                            <a th:href="@{/us/lich-su-do-so/xoa_boi_nguoi_dung(id=${lsDs.id})}"
                               class="btn btn-sm btn-danger me-1 "
                               onclick="if(!(confirm('Bạn có chắc xóa kết quả dò không ? '))) return false">
                                Xóa
                            </a>

                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <!-- slide right -->
    <div class="slide__right">
        <div class="container__content__slideRight">
            <!-- div container chua ui date picker-->
            <div id="datePicker-container">
                <h6>Xổ Số Theo Ngày</h6>
            </div>

        </div>
        <div class="container__content__slideRight" style="margin-top:0.5rem">
            <!-- form chua thong tin do ve so-->
            <div id="doVe">
                <h6>Dò Kết Quả</h6>
                <form action="#" th:action="@{/us/do-ket-qua}" method="get" class="form-doSo">
                    <div class="content--form">
                        <span>Bộ số </span>
                        <input type="number" name="boSo"  placeholder=" nhập 6 số (*)" class="boSo--doSo">
                    </div>
                    <div class="content--form">
                        <span>Ngày </span>
                        <input type="date"  name="date"   class="date__doSo">
                    </div>

                    <div class="content--form">
                        <span>Tỉnh ,tp </span>
                        <select name="tinhThanh" id="tinhThanh__doSo" >
                            <option th:if="${#lists.size(daiXoSoList) >0}" th:each="theDai:${daiXoSoList}"
                                    th:text="${theDai.nameLottery}" th:value="${theDai.nameLottery}"/>
                        </select>
                    </div>
                    <div class="content--form--button">
                        <button class="btn btn-danger" type="submit" id="btn__doSo">Dò kết quả</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>
<!-- phan footer -->
<div class="container__footer">
    <div>Xổ Số Vịt Ù</div>
    <div>0985913723</div>
</div>
<!-- show datepicker-->
<script th:src="@{/js/trangchu/date-picker.js}"></script>
<!-- js show dau duoi lo to-->
<script th:src="@{/js/trangchu/show-lo-to-dau-duoi-page-ten-dai.js}"></script>
<!--js xu ly checkbox chuc nang day du,2 so ,3 so-->
<script th:src="@{/js/trangchu/daydu-2so-3so.js}"></script>
<!-- js xu ly hien thi ngay -->
<script th:src="@{/js/trangchu/format-day-month-year.js}"></script>
<!-- js xu ly search ten dai va ngay trong the select -->
<script th:src = "@{/js/trangchu/search-by-ten-dai-and-date.js}"></script>
<!-- js xử lý validation form dò số -->
<script th:src="@{/js/trangchu/validation-form-do-so.js}"></script>
<!-- js xử lý ẩn slide bar mobile -->
<script th:src="@{/js/trangchu/mobile-slide-bar.js}"></script>
</body>
</html>