<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--   add fontawesome-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!--add jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- jQuery UI CSS CDN -->
    <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'
          rel='stylesheet'>
    <!-- jQuery UI JS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
    </script>
    <!--font google-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap">
    <!--    css     -->
    <link rel="stylesheet" th:href="@{/css/dangnhap/login.css}">
    <title>Quên mật khẩu</title>
</head>
<body>
    <div class="container__login">
        <div class="container__login__content">

            <form action="#" th:action = "@{/us/reset-password}" method="post" >

                <div>
                    <p style="font-size:1.1rem;font-weight:bold; text-transform:uppercase">
                        Quên mật khẩu
                    </p>
                </div>

                <!-- check has message đã gửi mật khẩu mới tới email-->
                <div class="error text-danger" th:if="${messPw}">
                    <p th:text="${messPw}"/>
                </div>
                <!-- check username or email không tồn tại-->
                <div class="error text-danger" th:if="${messExist}">
                    <p th:text="${messExist}"/>
                </div>
                <input type="text" name="username" placeholder="Email hoặc tên đăng nhập" id="username">

                <button class="btn btn-primary" type="submit">Gửi</button>
            </form>
            <hr>
            <div class="login_-forget--pw">
                <a th:href="@{/us/trang-chu}"><i class="fas fa-home" style="font-size:1.5rem;opacity:0.8"></i></a>
            </div>


            <div class="login__createNewAccount">
                <a class="btn btn-success" th:href="@{/dang-nhap}">Đăng nhập</a>
            </div>
        </div>
    </div>
<!--js kiem tra truong nhap vao co trong hay khong -->
<script th:src="@{/js/dangnhap/forget-password.js}"></script>
</body>

</html>