<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!--   add fontawesome-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!--add jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- jQuery UI CSS CDN -->
    <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css'
          rel='stylesheet'>
    <!-- jQuery UI JS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
    </script>
    <!--font google-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap">
    <!--    css     -->
    <link rel="stylesheet" th:href="@{/css/dangnhap/login.css}">
    <link rel="stylesheet" th:href="@{/css/dangnhap/forget-change-password.css}">
    <title>Thay đổi mật khẩu</title>
</head>
<body>
    <div class="container__login">
        <div class="container__login__content">

            <form action="#" th:action = "@{/us/doi-mat-khau}" method="post"
                  th:object ="${userResetPassword}" >

                <div>
                    <p style="font-size:1.1rem;font-weight:bold; text-transform:uppercase">
                        Đổi mật khẩu
                    </p>
                </div>

                <!-- check mật khẩu mới và mật khẩu nhập lại không trùng khớp-->
                <div class="error text-danger" th:if="${mess}">
                    <p th:text="${mess}"/>
                </div>
                <!--user name hay email không tồn tại-->
                <div class="error text-danger" th:if="${userNameNotExist}">
                    <p th:text="${userNameNotExist}"/>
                </div>
                <!-- check mật khẩu cũ nhập vào không trùng khớp-->
                <div class="error text-danger" th:if="${messPw}">
                    <p th:text="${messPw}"/>
                </div>

                <!-- userName-->
                <input type="text" th:field="*{userName}" placeholder="Email hoặc tên đăng nhập">
                <div th:if="${#fields.hasErrors('userName')}"
                     style="text-align:left;width:100%;" class="text-danger errorServer">
                        <p th:each="err : ${#fields.errors('userName')}" th:text="${err}" />
                </div>

                <!-- password cu -->
                <div style="width:100%" class="container--content-pw">
                    <input class="input-password" type="password" th:field="*{pwOld}" placeholder="Nhập mật khẩu cũ">
                    <i class="fas fa-eye eye-show" style="display:none"></i>
                    <i class="fas fa-eye-slash eye-hidden"></i>
                </div>
                <div th:if="${#fields.hasErrors('pwOld')}"
                     style="text-align:left;width:100%;" class="text-danger errorServer">
                    <p th:each="err : ${#fields.errors('pwOld')}" th:text="${err}" />
                </div>

                <!-- password moi -->
                <div style="width:100%" class="container--content-pw">
                    <input class="input-password" type="password" th:field="*{pwNew}" placeholder="Nhập mật khẩu mới">
                    <i class="fas fa-eye eye-show" style="display:none"></i>
                    <i class="fas fa-eye-slash eye-hidden"></i>
                </div>
                <div th:if="${#fields.hasErrors('pwNew')}"
                     style="text-align:left;width:100%;" class="text-danger errorServer">
                    <p th:each="err : ${#fields.errors('pwNew')}" th:text="${err}" />
                </div>

                <!-- password moi nhap lai -->
                <div style="width:100%" class="container--content-pw">
                    <input class="input-password" type="password" th:field="*{pwNewReEnter}" placeholder="Nhập lại mật khẩu mới">
                    <i class="fas fa-eye eye-show" style="display:none"></i>
                    <i class="fas fa-eye-slash eye-hidden"></i>
                </div>
                <div th:if="${#fields.hasErrors('pwNewReEnter')}"
                     style="text-align:left;width:100%;" class="text-danger errorServer">
                    <p th:each="err : ${#fields.errors('pwNewReEnter')}" th:text="${err}" />
                </div>

                <button class="btn btn-primary" type="submit">Gửi</button>
            </form>
            <hr>
            <div class="login_-forget--pw">
                <a th:href="@{/us/trang-chu}">
                    <i class="fas fa-home" style="font-size:1.5rem;opacity:0.8"></i>
                </a>
            </div>

            <div class="login__createNewAccount">
                <a class="btn btn-success" th:href="@{/dang-nhap}">Đăng nhập</a>
            </div>
        </div>
    </div>

<!-- js xu ly thay đổi cách nhìn ẩn hiện password -->
<script th:src="@{/js/dangnhap/show-password.js}"></script>
</body>
</html>