.container--content-pw{
    display:flex;
    align-items:center;
    position:relative;
    margin-top:0.5rem;
}
.container--content-pw input{
    display:inline-block;
    width:100%;
    z-index:0;
}
.container--content-pw i{
    position:absolute;
    right:0.2rem;
    z-index:1;
}
.container--content-pw i:hover{
    cursor:pointer;
    opacity:0.7;
}
p{
    margin-bottom:0;
}
.errorServer{
    margin-top:0.5rem;
}